@import url(http://fonts.googleapis.com/css?family=Lato);
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/base\/_media\.scss}line{font-family:\000031}}
img, media {
  max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\0000326}}
article {
  margin: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\0000331}}
body {
  background: white; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\0000336}}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato',Arial,sans-serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\0000339}}
.l-branding {
  background: white;
  padding: 2em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\0000342}}
  .l-branding a {
    color: #4679b2; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\0000346}}
  .l-branding h1.site-name {
    display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\0000349}}
  .l-branding h1.site-name a, .l-branding h2.site-name a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    font-weight: normal; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\0000357}}
.l-region--header {
  background: #4679b2;
  min-height: 50px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\0000360}}
  .l-region--header a {
    color: white; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\0000365}}
a {
  color: #4679b2; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\0000369}}
.l-content {
  padding: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\0000373}}
.crt-content {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  padding-right: 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\0000377}}
.field--name-field-imageref {
  float: right;
  display: block;
  position: relative;
  margin: 1em;
  clear: left;
  background: #ccc;
  padding: .5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\0000387}}
.panels-flexible-region-1-content {
  float: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\0000391}}
.crt-sidebar-right {
  width: 33.33333%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  padding-right: 15px;
  float: right;
  position: relative;
  display: block;
  margin: 0 0 1em 1em;
  border: solid thin #ccc; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\0000399}}
  .crt-sidebar-right h2.pane-title {
    color: #4679b2;
    margin-top: 0;
    text-transform: uppercase;
    font-size: .8em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003107}}
.panels-flexible-1 .panels-flexible-region {
  padding: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003111}}
.crt-postscript-first {
  width: 33.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
  padding-right: 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003115}}
.crt-postscript-second {
  width: 33.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 25%;
  clear: none;
  padding-right: 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003119}}
.crt-postscript-third {
  width: 33.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 50%;
  clear: none;
  padding-right: 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003123}}
.crt-footer {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  padding-right: 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003127}}
.l-region--sidebar-first, .l-region--sidebar-second {
  display: none; }
