@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Lato);
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/variables\/_typography\.scss}line{font-family:\0000328}}
h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", Arial, sans-serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/variables\/_typography\.scss}line{font-family:\0000335}}
strong, b {
  font-weight: 700; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/variables\/_typography\.scss}line{font-family:\0000341}}
p, table tr td {
  font-weight: 300; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/variables\/_typography\.scss}line{font-family:\0000352}}
small, .field--name-field-left-image .field--name-field-image-description,
.field--name-field-right-image .field--name-field-image-description,
.field--name-field-featured-image .field--name-field-image-description {
  font-size: 0.77778em;
  line-height: 2.28571em;
  line-height: 1.33333em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/variables\/_typography\.scss}line{font-family:\0000355}}
h4, h5, p, table tr td {
  font-size: 1em;
  line-height: 1.77778em;
  line-height: 1.77778em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/variables\/_typography\.scss}line{font-family:\0000358}}
h3 {
  font-size: 1.33333em;
  line-height: 1.33333em;
  line-height: 2.22222em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/variables\/_typography\.scss}line{font-family:\0000361}}
h2, header > p {
  font-size: 1.55556em;
  line-height: 1.14286em;
  line-height: 2.22222em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/variables\/_typography\.scss}line{font-family:\0000364}}
h1 {
  font-size: 2em;
  line-height: 1.77778em;
  line-height: 2.66667em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/variables\/_typography\.scss}line{font-family:\0000367}}
.t-tiny {
  font-size: 0.55556em;
  line-height: 3.2em;
  line-height: 1.33333em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/variables\/_typography\.scss}line{font-family:\0000370}}
.t-small {
  font-size: 0.77778em;
  line-height: 2.28571em;
  line-height: 1.33333em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/variables\/_typography\.scss}line{font-family:\0000373}}
.t-base {
  font-size: 1em;
  line-height: 1.77778em;
  line-height: 1.77778em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/variables\/_typography\.scss}line{font-family:\0000376}}
.t-medium {
  font-size: 1.33333em;
  line-height: 1.33333em;
  line-height: 2.22222em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/variables\/_typography\.scss}line{font-family:\0000379}}
.t-large {
  font-size: 1.55556em;
  line-height: 1.14286em;
  line-height: 2.22222em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/variables\/_typography\.scss}line{font-family:\0000382}}
.t-xlarge {
  font-size: 2em;
  line-height: 1.77778em;
  line-height: 2.66667em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/variables\/_typography\.scss}line{font-family:\0000386}}
h1, h2, h3, h4 {
  margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/variables\/_typography\.scss}line{font-family:\0000390}}
html {
  font-family: "Lato", Arial, sans-serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/variables\/_typography\.scss}line{font-family:\00003109}}
h5 {
  text-transform: uppercase;
  color: #333; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/variables\/_typography\.scss}line{font-family:\00003126}}
strong, b {
  font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/base\/_media\.scss}line{font-family:\000031}}
img, media {
  max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\0000327}}
.l-page {
  max-width: 1440px;
  margin: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\0000332}}
article {
  margin: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\0000337}}
body {
  background: white; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\0000347}}
strong {
  color: #333; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\0000353}}
a {
  color: #4679b2;
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\0000358}}
a:hover {
  text-decoration: underline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\0000362}}
.l-branding {
  background: white;
  padding: 2em;
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  padding-right: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\0000368}}
  .l-branding .site-name, .l-branding .site-logo {
    display: inline-block;
    float: left;
    position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\0000374}}
  .l-branding h1.site-name a, .l-branding h2.site-name a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    font-weight: normal; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\0000383}}
.l-region--branding {
  position: relative;
  display: block;
  float: right;
  margin: 1.8em 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\0000391}}
  .l-region--branding nav#block-system-main-menu ul.menu {
    margin: 0;
    padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\0000396}}
  .l-region--branding nav#block-system-main-menu li.leaf {
    text-transform: uppercase;
    list-style: none;
    display: inline-block;
    float: left;
    position: relative;
    line-height: 150%;
    margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003105}}
    .l-region--branding nav#block-system-main-menu li.leaf a {
      color: #333;
      font-family: "Lato", Arial, sans-serif;
      padding: 15px 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003112}}
    .l-region--branding nav#block-system-main-menu li.leaf .active {
      color: #60a1d3; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003121}}
header {
  clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003126}}
.l-region--navigation {
  clear: both;
  display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003132}}
  .l-region--navigation ul.menu {
    clear: both;
    border-bottom: 1px solid #bfd4e1;
    float: left;
    -webkit-padding-end: 40px;
    width: 100%;
    box-sizing: border-box; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003141}}
  .l-region--navigation li {
    float: left;
    position: relative;
    display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003147}}
  .l-region--navigation li.leaf {
    list-style-image: none;
    list-style-type: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003152}}
  .l-region--navigation a {
    color: black;
    font-family: "Lato", Arial, sans-serif;
    position: relative;
    display: block;
    padding: 10px 15px;
    border-bottom: 5px solid #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003162}}
  .l-region--navigation a:hover {
    text-decoration: none;
    border-bottom: 5px solid #bfd4e1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003167}}
  .l-region--navigation li a.active {
    background-color: #eef7ff;
    border-bottom: 5px solid #bfd4e1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003176}}
.l-content {
  clear: both;
  margin-top: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003180}}
  .l-content h1 {
    background: #4679b2;
    color: white;
    font-weight: normal;
    padding: .2em;
    clear: both;
    margin-bottom: .5em;
    text-align: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003193}}
ul.breadcrumb {
  padding-bottom: 5px;
  margin: 0;
  clear: both;
  display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003199}}
  ul.breadcrumb li {
    list-style: none;
    font-size: .7em;
    position: relative;
    float: left;
    display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003207}}
  ul.breadcrumb li:after {
    content: "»";
    color: #333;
    padding: .8em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003213}}
  ul.breadcrumb a {
    text-transform: uppercase; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003219}}
.crt-content {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  padding-right: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003222}}
  .crt-content .field--name-field-pull-quote {
    font-weight: normal;
    font-size: 1.1em;
    padding: 1em;
    border: solid thin #ccc;
    text-align: center;
    margin: 2em;
    clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003233}}
  .crt-content .crt-feature {
    margin: 2em 4em 2em 4em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003236}}
    .crt-content .crt-feature .field--name-field-header {
      background: #4679b2;
      color: white;
      padding: 1em;
      font-weight: normal;
      font-style: italic; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003246}}
.topic-content-right {
  width: 83.33333%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  padding-right: 15px;
  position: relative;
  display: block;
  float: right;
  clear: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003255}}
.table_of_contents {
  border: thin solid #ccc;
  display: inline-block;
  position: relative;
  float: none;
  padding: 1em;
  font-family: "Lato", Arial, sans-serif;
  font-size: .8em;
  margin-bottom: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003267}}
.crt-content-topic {
  width: 100%;
  float: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003273}}
  .crt-content-topic ol {
    margin: 0;
    -webkit-padding-start: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003282}}
.topic-landing {
  text-align: center;
  clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003286}}
  .topic-landing .view-header {
    text-align: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003294}}
.topic-thumb {
  vertical-align: top;
  display: inline-block;
  position: relative;
  width: 125px;
  margin: auto 1em auto 1em;
  height: 100%;
  line-height: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003304}}
.field--name-field-header {
  font-family: "Lato", Arial, sans-serif;
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
  clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003312}}
.submitted {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003317}}
.field--name-field-left-image,
.field--name-field-right-image {
  display: block;
  position: relative;
  width: 220px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003323}}
.field--name-field-left-image {
  float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003327}}
.field--name-field-right-image {
  float: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003331}}
.field--name-field-featured-image {
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003335}}
.field--name-field-featured-image .field--name-field-image-description {
  max-width: 800px;
  margin: auto;
  overflow: visible; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003343}}
.field--name-field-left-image,
.field--name-field-right-image,
.field--name-field-featured-image {
  display: block;
  position: relative;
  margin: 1em;
  background: none;
  padding: .2em .2em 0 .2em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003350}}
  .field--name-field-left-image article,
  .field--name-field-right-image article,
  .field--name-field-featured-image article {
    margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003353}}
  .field--name-field-left-image h2, .field--name-field-left-image .submitted,
  .field--name-field-right-image h2,
  .field--name-field-right-image .submitted,
  .field--name-field-featured-image h2,
  .field--name-field-featured-image .submitted {
    display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003362}}
td.table-header {
  color: #4679b2;
  text-transform: uppercase;
  font-size: .8em;
  clear: both;
  padding-bottom: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003370}}
th {
  background: #eef7ff;
  padding: .5em;
  color: #333; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003376}}
table tr td {
  padding: .5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003382}}
.panels-flexible-region-1-content {
  float: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003387}}
h2.pane-title {
  color: #4679b2;
  text-transform: uppercase;
  font-size: .8em;
  clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003396}}
.panels-flexible-2 .panels-flexible-region-inside-first, .panels-flexible-2 .panels-flexible-region-inside-last, .panels-flexible-1 .panels-flexible-region-inside-first, .panels-flexible-1 .panels-flexible-region-inside-last {
  padding: 0 .5em 0 .5em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003400}}
.panels-flexible-2 .crt-sidebar-right, .panels-flexible-1 .crt-sidebar-right {
  width: 33.33333%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  padding-right: 15px;
  float: right;
  position: relative;
  display: block;
  border: solid thin #ccc;
  margin-left: 1em;
  font-size: 14px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003409}}
  .panels-flexible-2 .crt-sidebar-right a, .panels-flexible-1 .crt-sidebar-right a {
    font-weight: normal; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003413}}
  .panels-flexible-2 .crt-sidebar-right .view-content, .panels-flexible-1 .crt-sidebar-right .view-content {
    padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003416}}
    .panels-flexible-2 .crt-sidebar-right .view-content a.views-more-link, .panels-flexible-1 .crt-sidebar-right .view-content a.views-more-link {
      text-transform: uppercase;
      font-size: .8em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003422}}
  .panels-flexible-2 .crt-sidebar-right .pane-tools-views, .panels-flexible-1 .crt-sidebar-right .pane-tools-views {
    margin-bottom: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003426}}
  .panels-flexible-2 .crt-sidebar-right .pane-case-study-views, .panels-flexible-1 .crt-sidebar-right .pane-case-study-views {
    clear: both;
    margin-bottom: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003431}}
  .panels-flexible-2 .crt-sidebar-right table tr td, .panels-flexible-1 .crt-sidebar-right table tr td {
    padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003435}}
  .panels-flexible-2 .crt-sidebar-right table td.label, .panels-flexible-1 .crt-sidebar-right table td.label {
    text-align: right;
    font-weight: bold;
    padding: .25em;
    color: #333;
    vertical-align: top; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003443}}
  .panels-flexible-2 .crt-sidebar-right table td.content, .panels-flexible-1 .crt-sidebar-right table td.content {
    text-align: left;
    padding: .25em;
    vertical-align: top;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003456}}
  .panels-flexible-2 .crt-sidebar-right tr.odd, .panels-flexible-1 .crt-sidebar-right tr.odd {
    background: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003460}}
  .panels-flexible-2 .crt-sidebar-right tr.even, .panels-flexible-1 .crt-sidebar-right tr.even {
    background: #eef7ff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003464}}
  .panels-flexible-2 .crt-sidebar-right .entity-field-collection-item, .panels-flexible-1 .crt-sidebar-right .entity-field-collection-item {
    margin-bottom: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003470}}
.panels-flexible-2 .topic-content-left, .panels-flexible-1 .topic-content-left {
  width: 16.66667%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
  padding-right: 15px;
  float: left;
  position: relative;
  display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003477}}
.panels-flexible-2 .crt-sidebar-left, .panels-flexible-1 .crt-sidebar-left {
  border: solid thin #ccc; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003486}}
.panels-flexible-region-2-sidebar_left {
  padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003489}}
  .panels-flexible-region-2-sidebar_left h4 {
    margin: .5em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003493}}
  .panels-flexible-region-2-sidebar_left a {
    font-weight: normal; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003498}}
.panels-flexible-1 .panels-flexible-region {
  padding: 0 1em 1em 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003502}}
.crt-postscript-first {
  width: 33.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
  padding-right: 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003506}}
.crt-postscript-second {
  width: 33.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 25%;
  clear: none;
  padding-right: 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003510}}
.crt-postscript-third {
  width: 33.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 50%;
  clear: none;
  padding-right: 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003514}}
.crt-footer {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  padding-right: 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vsites\/crt-dev\.nemac\.org\/project\/html\/sites\/all\/themes\/crt\/sass\/crt\.styles\.scss}line{font-family:\00003518}}
.l-region--sidebar-first, .l-region--sidebar-second {
  display: none; }
