// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit-no-css";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";



article {
	margin: 1em;
}


body {
	background: white;
}


h1,h2,h3,h4,h5,h6 {
	font-family: 'Lato',Arial,sans-serif;
}

	a {
		color: $main-accent;
	}

.l-branding {
	background: white;
	padding: 2em;
	@include grid-span(8,3);


	.site-name, .site-logo {
		display: inline-block;
		float: left;
		position: relative;
	}

	h1.site-name a, h2.site-name a {
		text-transform: uppercase;
		text-decoration: none;
		font-size: .8em;
		font-weight: normal;
	}
}


.l-region--branding {
	position: relative;
	display: block;
	float: right;
	margin: 1.8em 0;

	nav#block-system-main-menu {

		ul.menu {
			margin:0;
			padding:0;
		}

		li.leaf {
			text-transform: uppercase;
			list-style: none;
			display: inline-block;
			float: left;
			position: relative;
			line-height: 150%;
			margin:0;

			a {
				color: #333;
				font-family: 'Lato',Arial,sans-serif;
				text-decoration: none;
				padding: 15px 10px;
			
				.active {
					color:$highlight;
				}
			}
		}
	}

}

/*.l-region--header {
	background: $main-accent;
	min-height: 50px;
	clear: both;

	a {
		color: white;
	}
}*/


.l-region--navigation {
	background-color: #eef7ff;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #bfd4e1;
	clear: both;

	li.leaf {
		list-style-image: none;
		list-style-type: none;
	}

	a {
		color: black;
		font-family: 'Lato',Arial,sans-serif;
		text-decoration: none;
	}

	li a.active {
		background-color: #eef7ff;
		border-bottom: 5px solid #bfd4e1;
}


}



a {
	color:$main-accent;
}



.l-content {
	clear: both;

	h1 {
	background: $main-accent;
	min-height: 50px;
	color: white;
	font-weight: normal;
	padding: .5em;	

	}
	.l-region {
		padding: 1em;
	}
}

ul.breadcrumb {
	li {
		list-style: none;
		font-size: .7em;
	}

	li:after {
		content: "»";
		color: #333;
		padding: .8em;
	}

	a {
		text-transform: uppercase;
		text-decoration: none;
	}

}

.crt-content {
	@include grid-span(12,1);

	.field--name-field-header {
		font-family: 'Lato',Arial,sans-serif;
		color: #333;
		text-transform: uppercase;
		font-weight: bold;
	}
}

.field--name-field-imageref {
	float: right;
	display: block;
	position: relative;
	margin: 1em;
	clear: left;
	background: #ccc;
	padding: .5em;
}

.panels-flexible-region-1-content {
	float: none;
}

.crt-sidebar-right {
	@include grid-span(4,9);
	float: right;
	position: relative;
	display: block;
	margin: 0 1em 1em 1em;
	border: solid thin #ccc;

	h2.pane-title {
		color: $main-accent;
		margin-top: 0;
		text-transform: uppercase;
		font-size: .8em;
	}
}

.panels-flexible-1 .panels-flexible-region {
	padding: 1em;
}

.crt-postscript-first {
	@include grid-span(4,1);
}

.crt-postscript-second {
	@include grid-span(4,4);
}

.crt-postscript-third {
	@include grid-span(4,7);
}

.crt-footer {
	@include grid-span(12,1);
}

.l-region--sidebar-first, .l-region--sidebar-second {
	display: none;
}